.lead {
  padding-left: 15px;
  margin-top: 20px;
  font-family: poppins;
  background: rgb(198, 250, 198);
  border-left: 10px solid green;
  background-size: cover;
}

/* .hd1 {
  text-align: center;
  font-weight: bold;
  font-family: poppins;
} */

.draw-area {
  background-color: #eee;
  height: 600px;
  width: 600px;
  position: relative;
  border: rgb(38, 38, 107) 5px solid;
  border-radius: 1rem;
}

.node {
  border: #1f3c7d 2px solid;
  text-align: center;
  border-radius: 40%;
  background-color: #0e38aa;
  position: absolute;
  width: 120px;
  height: 90px;
  margin: 0 auto;
  padding: 10px;
}

.node p {
  margin: 0;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.console {
  height: 35px;
  margin-bottom: 0;
  margin-top: 1px;
  background-color: #f0e1c6;
  
}

.console p {
  color: rgb(112, 69, 5);
  font-family: poppins;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

#msg {
  color: rgb(47, 155, 119);
}

#connected {
  text-align: center;
  color: white;
  font-size: 12px;
}

.input-details {
  font-size: 12px;
}

#q0 {
  position: absolute;
  top: 35%;
  float: left;
}

.input-info {
  background-color: rgb(206, 206, 238);
  border: #1f3c7d 2px solid;
  height: 25px;
  text-align: center;
  color: #1f3c7d;
  font-weight: bold;
  font-family: poppins;
  font-size: large;
}

.validators {
  font-size: 14px;
  color: crimson;
}

#rule-box {
  padding: 2rem 13rem 3rem;
}

#rule-box h3 {
  font-weight: bold;
  font-family: poppins;
}

#rule-box li {
  background-color: rgba(255, 255, 224, 0.76);
  border: none;
  opacity: .5;
  border-left: 5px solid yellow;
  border-bottom: 1px solid grey;
  font-family: poppins;
  padding: 10px;
}